# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
env/
venv/
ENV/
*.env
*.venv

# Django specific
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# VSCode/IDE settings
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Migrations (optional)
**/migrations/*.py
!**/migrations/__init__.py
