{% extends 'find_more.html' %}

{% load static tailwind_tags %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
</head>
<body>
 <script src="https://unpkg.com/htmx.org@1.9.2"></script>   
</body>
</html>
    
    {% block banner %}

<!-- send email form -->
    <section class="flex flex-col items-center justify-center min-h-screen p-4 ">
    <div class="w-full max-w-md p-8 bg-white shadow-xl rounded-2xl 3xl:max-w-screen-xl">
        <h2 class="mb-6 text-3xl font-bold text-center text-gray-800">Contact Support</h2>

        <form method="post" class="space-y-5">
            {% csrf_token %}

            <!-- Name -->
            <div class="flex flex-col">
                <label for="{{ form.name.id_for_label }}" class="mb-1 text-sm font-medium text-gray-700">Name</label>
                {{ form.name }}
            </div>

            <!-- Email -->
            <div class="flex flex-col">
                <label for="{{ form.email.id_for_label }}" class="mb-1 text-sm font-medium text-gray-700">Email</label>
                {{ form.email }}
            </div>

            <!-- Subject -->
            <div class="flex flex-col">
                <label for="{{ form.subject.id_for_label }}" class="mb-1 text-sm font-medium text-gray-700">Subject</label>
                {{ form.subject }}
            </div>

            <!-- Message -->
            <div class="flex flex-col">
                <label for="{{ form.message.id_for_label }}" class="mb-1 text-sm font-medium text-gray-700 ">Message</label>
                {{ form.message }}
            </div>

            <!-- Submit Button -->
            <button type="submit" name="send_email" class="w-full py-3 font-semibold text-white transition bg-blue-600 border rounded-lg hover:bg-blue-700">
                Send Message
            </button>
        </form>
    </div>
</section>
<!-- floating dot for support comunication -->
 <div id="floating_dot"
     class="fixed w-20 h-20 mr-6 bg-no-repeat bg-cover border-2 border-blue-400 rounded-full shadow-lg cursor-pointer bottom-12 right-4 shadow-blue-300/40"
     style="background-image:url('{% static 'images/Chatbot Chat Message.jpg' %}');">
</div>


 <!-- chat box -->
<div id="chat_box" class="flex flex-col items-center hidden w-4/5 rounded-l-lg h-3/5 place-self-center xl:mr-6 xl:place-self-end xl:w-1/5 md:w-2/5 3xl:h-3/5 " >
    <div class="flex items-center justify-between w-full px-4 py-2 rounded-t-md bg-violet-400">
        <!-- Left side top bar chat status-->
        <div class="flex items-center">
            <div class="w-3 h-3 bg-green-500 border rounded-full"></div>
            <p class="ml-3 font-semibold text-gray-800 cursor-default">Chat</p>
        </div>

        <!-- Close button -->
        <button 
            id="close_chat_btn"
            type="button" 
            class="font-bold text-gray-800 hover:text-gray-600"
            aria-label="Close chat"
        >
            X
        </button>
    </div>
    <!-- text messages container -->
    <div id="chat-container" class="flex flex-col w-full h-full ">
       <div id="chat-content" class="flex-1 p-2 overflow-y-auto border bg-gray-50">

        <div id="bot" class="flex-1 w-3/4 px-2 py-2 mb-2 bg-green-200 rounded-md justify-self-end">
                <p>Do you have any question? Or are you looking for a solution? :D</p> 
            
            </div>
            
            {% if question_chat %}
                 <div id="human" class="flex-1 w-3/4 px-2 py-2 mb-2 bg-blue-200 rounded-md">
                <p>{{ question_chat }}</p>
            
            </div>

           
            {% endif %}


  
           
            {% if answer_chat %}
                <div id="bot" class="flex-1 w-3/4 px-2 py-2 mb-2 bg-green-200 rounded-md justify-self-end">
                <p>{{ answer_chat }}</p> 
            
            </div>
            {% endif %}

            
        </div>



 <!-- sending message form -->
        <form 
            id="chat_message_form"
            hx-post="{% url 'travel_app:contact' %}" 
            hx-target="#chat-content" 
            hx-swap="beforeend"
            method="post"

            class="flex items-center justify-between w-full px-2 py-4 bg-violet-400 rounded-b-md">
            {% csrf_token %}
            <input id="chat-input" name="question_chat" class="flex-1 w-max" type="text" placeholder="Type a message...">
            <button type="submit" name="send_message"
                    class="pl-3 text-xl font-bold text-gray-800 hover:text-gray-600">➤</button>
        </form>
    </div>



</div>


<!-- htmx script -->
<script src="https://unpkg.com/htmx.org@1.9.2"></script>
<!-- open chat script -->
<script>

    const dot= document.getElementById("floating_dot")
    const chat= document.getElementById("chat_box")
    const close_chat= document.getElementById("close_chat_btn")


    dot.addEventListener('click',()=>{
        dot.classList.toggle('hidden')
        chat.classList.toggle('hidden')

    });

    close_chat.addEventListener('click',()=>{
        dot.classList.toggle('hidden')
        chat.classList.toggle('hidden')
    });


</script>
<!-- clear chat input and scroll to the top of the newest message -->
<script>


    document.body.addEventListener("htmx:afterSwap", function(evt) {
        if (evt.detail.target.id === "chat-content") {
            evt.detail.target.scrollTop = evt.detail.target.scrollHeight;
        }
    });
</script>
<!-- append message to the chat -->
<script>
document.body.addEventListener('htmx:beforeRequest', function(evt) {
    if (evt.target.id === 'chat_message_form') {
        const input = document.querySelector('#chat-input');
        const chat = document.querySelector('#chat-content');
       
        const message = input.value.trim();
        if (message) {
            // Dodaj wiadomość użytkownika natychmiast
            const userDiv = document.createElement('div');
            userDiv.className = 'flex-1 w-3/4 px-2 py-2 mb-2 bg-blue-200 rounded-md';
            userDiv.innerHTML = `<p>${message}</p>`;
            chat.appendChild(userDiv);

             // Dodaj animację "bot pisze" PO wiadomości użytkownika
            const typingDiv = document.createElement('div');
            typingDiv.id = 'typing_animation';
            typingDiv.className = 'flex-col w-3/4 px-2 py-2 mb-2 bg-blue-600 rounded-md justify-self-end';
            typingDiv.innerHTML = '<p class="typing-dots">...</p>';
            chat.appendChild(typingDiv);

            
            chat.scrollTop = chat.scrollHeight;
            input.value = '';
        }
    }
});


</script>
<!-- writing animation by bot -->
<script>

document.body.addEventListener('htmx:afterSwap', function(evt) {
    // Usuń animację po odpowiedzi bota
    const typingDiv = document.querySelector('#typing_animation');
    if (typingDiv) typingDiv.remove();


});

</script>


    {% endblock banner %}
        
